<div class="hero-card">
    <md-card>
        <img ng-src="{{$ctrl.composer.image}}" class="md-card-image">
        <md-card-title>
            <md-card-title-text>
                <span class="md-title">{{$ctrl.composer.fullname}}</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <p class="md-caption">{{$ctrl.composer.bio}}</p>
        </md-card-content>
        <md-card-actions layout="column" layout-align="start">
            <md-button class="md-primary md-raised" ng-click="$ctrl.subscribe()">Subscribe</md-button>
        </md-card-actions>
    </md-card>
</div>