$header-height: 64px;
$sidenav-width: 272px; // 320 * 0.85

lb-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: $header-height;
    z-index: 1;
}

md-sidenav-layout {
    padding-top: $header-height;
}

md-sidenav {
    padding-top: $header-height;
    width: $sidenav-width;
    min-width: $sidenav-width;
    max-width: $sidenav-width;
}