.text-center {
    text-align: center;
}

.margin-none {
    margin: 0;
}

.padding-none {
    padding: 0;
}

.width-full {
    width: 100%;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@import "../app/layout/layout.less";
@import "../app/composer/composer.less";
@import "../app/composition/composition.less";
@import "../app/splash/splash.less";