<div flex>
    <md-card>
        <form class="md-padding">
            <md-input-container class="md-block" style="margin-bottom:0;">
                <label>Search Compositions</label>
                <input ng-model="$ctrl.searchText">
            </md-input-container>
        </form>
    </md-card>
    <md-list>
        <md-list-item ng-repeat="composition in $ctrl.compositions | filter:{title:$ctrl.searchText}">
            <p>{{ composition.title }}</p>
            <md-icon class="material-icons" ng-click="$ctrl.openEditor(composition, $event)">edit</md-icon>
        </md-list-item>
    </md-list>
    <md-button class="md-fab" ng-click="$ctrl.createComposition()" style="position:fixed;right:40px;bottom:40px;">
        <md-icon class="material-icons">add</md-icon>
    </md-button>
</div>