<div fxLayout="row" fxLayoutAlign="center center" style="margin:100px" *ngIf="!collection">
  <md-progress-spinner color="primary" mode="indeterminate" value="50">
  </md-progress-spinner>
</div>
<div fxLayout="row" fxLayoutWrap="wrap" *ngIf="collection">
  <div fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="33%" fxFlex.lg="25%" fxFlex.xl="20%" class="lb-padding" *ngFor="let composition$ of collection.compositions$">
    <lb-composition-card [composition]="composition$ | async" [popup]="false"></lb-composition-card>
  </div>
</div>