<md-nav-list>
    <a md-list-item routerLink="" routerLinkActive="active" (click)="close()">Splash</a>
    <a md-list-item routerLink="composition" routerLinkActive="active" (click)="close()">Composition</a>
    <a md-list-item routerLink="" routerLinkActive="active">Splash</a>
    <a md-list-item routerLink="composition" routerLinkActive="active">Composition</a>
    <a md-list-item routerLink="" routerLinkActive="active">Splash</a>
    <a md-list-item routerLink="composition" routerLinkActive="active">Composition</a>
    <a md-list-item routerLink="" routerLinkActive="active">Splash</a>
    <a md-list-item routerLink="composition" routerLinkActive="active">Composition</a>
    <a md-list-item routerLink="" routerLinkActive="active">Splash</a>
    <a md-list-item routerLink="composition" routerLinkActive="active">Composition</a>
    <a md-list-item routerLink="" routerLinkActive="active">Splash</a>
    <a md-list-item routerLink="composition" routerLinkActive="active">Composition</a>
    <a md-list-item routerLink="" routerLinkActive="active">Splash</a>
    <a md-list-item routerLink="composition" routerLinkActive="active">Composition</a>
    <a md-list-item routerLink="" routerLinkActive="active">Splash</a>
    <a md-list-item routerLink="composition" routerLinkActive="active">Composition</a>
    <a md-list-item routerLink="" routerLinkActive="active">Splash</a>
    <a md-list-item routerLink="composition" routerLinkActive="active">Composition</a>
    <a md-list-item routerLink="" routerLinkActive="active">Splash</a>
    <a md-list-item routerLink="composition" routerLinkActive="active">Composition</a>
</md-nav-list>