<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-title" style="text-transform:uppercase;">Browse LilyBook by</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <div>
            <lb-tag type="composer" id="chopin"></lb-tag>
            <lb-tag type="composer" id="beethoven"></lb-tag>
            <lb-tag type="rcm" id="rcm-piano-3"></lb-tag>
            <lb-tag type="henle" id="henle-piano-5-6"></lb-tag>
            <lb-tag type="abrsm" id="abrsm-piano-lrsm"></lb-tag>
            <lb-tag type="key" id="c-major"></lb-tag>
            <lb-tag type="key" id="e-flat-major"></lb-tag>
            <lb-tag type="form" id="practice"></lb-tag>
            <lb-tag type="form" id="nocturne"></lb-tag>
            <lb-tag>Browse...</lb-tag>
        </div>
    </md-card-content>
</md-card>
<md-card ng-repeat="composer in $ctrl.composers">
    <div layout="row" layout-align="center center">
        <img ng-src="{{composer.image}}" style="width:48px;border-radius:50%;margin:12px;" />
        <md-button class="md-primary" ui-sref="composer({vanity:composer.$id})" style="min-width:initial;">{{composer.name}}</md-button>
        <span flex></span>
    </div>
    <ks-swiper-container loop="false" show-nav-buttons="true" show-scroll-bar="true" override-parameters="$ctrl.options">
        <ks-swiper-slide class="swiper-slide" ng-repeat="composition in composer.compositions">
            <a ui-sref="composition({id:composition.$id})">
                <lb-thumbnail composition="composition"></lb-thumbnail>
            </a>
        </ks-swiper-slide>
    </ks-swiper-container>
</md-card>