<div layout="column" layout-fill class="home">
    <md-tabs md-center-tabs md-border-bottom md-selected="$ctrl.activeTab">
        <md-tab label="Home" ui-sref="home"></md-tab>
        <md-tab label="Profile" ui-sref="profile.summary({uid:$ctrl.account.username})"></md-tab>
        <md-tab label="Favorites" ui-sref="home.favorites"></md-tab>
        <md-tab label="Collections" ui-sref="home.collections"></md-tab>
        <md-tab label="Repertoire" ui-sref="home.repertoire"></md-tab>
    </md-tabs>
    <md-content flex ui-view style="background-color:#eee;"></md-content>
</div>