<md-toolbar color="primary">
  <header fxLayout="row" fxLayoutAlign="center center" fxFlexFill>
    <a md-icon-button routerLink="">
      <md-icon>home</md-icon>
    </a>
    <a md-button [routerLink]="['/', profile.user.$key]">
      {{profile.user.displayName}}'s Library
    </a>
    <span fxFlex></span>
    <button md-button [mdMenuTriggerFor]="libraryMenu">
      {{title}} <md-icon>arrow_drop_down</md-icon>
    </button>
    <md-menu #libraryMenu="mdMenu">
      <a md-menu-item [routerLink]="['/', profile.user.$key]" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <md-icon>library_books</md-icon>
        <span>{{profile.user.displayName}}'s Library</span>
      </a>
      <a md-menu-item [routerLink]="['./', collection.$key]" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
        *ngFor="let collection of profile.collections">
        <md-icon>library_music</md-icon>
        <span>{{collection.name}}</span>
      </a>
    </md-menu>
  </header>
</md-toolbar>