<div>
    <md-button class="md-fab md-accent md-primary" ng-click="$ctrl.login($event)" ng-hide="$ctrl.user">
        <md-tooltip md-direction="left">Login to add this composition to your collection.</md-tooltip>
        <md-icon class="material-icons">playlist_add</md-icon>
    </md-button>
    <md-button class="md-fab md-accent md-primary" ng-click="$ctrl.addCollection($event)" ng-show="$ctrl.user">
        <md-tooltip md-direction="left">Add to collection.</md-tooltip>
        <md-icon class="material-icons">playlist_add</md-icon>
    </md-button>
</div>