<div layout="column" layout-fill class="composition">
    <lb-video-hero hero="$ctrl.composition.hero"></lb-video-hero>
    <lb-composition-fab composition="$ctrl.composition" style="position:fixed;right:24px;bottom:24px;"></lb-composition-fab>
    <div flex layout="column">
        <md-tabs md-center-tabs md-border-bottom>
            <md-tab label="Details" ui-sref="composition.details"></md-tab>
            <md-tab label="Sheet Musics" ui-sref="composition.sheet" ng-disabled="!$ctrl.composition.sheet"></md-tab>
            <md-tab label="Videos" ui-sref="composition.videos"></md-tab>
            <md-tab label="Discussions" ui-sref="composition.discuss"></md-tab>
        </md-tabs>
        <ui-view flex></ui-view>
    </div>
</div>