<md-content flex layout="column" class="composition">
    <lb-video-hero hero="$ctrl.composition.hero"></lb-video-hero>
    <div flex layout="column">
        <md-tabs md-center-tabs md-border-bottom>
            <md-tab label="Details" ui-sref="composition"></md-tab>
            <md-tab label="Sheet Musics" ui-sref="composition.sheet" ng-disabled="!$ctrl.composition.sheet"></md-tab>
            <md-tab label="Videos" ui-sref="composition.videos"></md-tab>
            <md-tab label="Discussions" ui-sref="composition.discuss"></md-tab>
        </md-tabs>
        <div flex layout="column" ui-view>
            <div class="md-padding">
                <div class="md-padding" layout="row">
                    <div class="thumbnail-wrapper">
                        <img ng-src="{{$ctrl.composition.thumbnail.url}}" alt="{{$ctrl.composition.title}}" />
                    </div>
                    <div flex layout="column" class="title-wrapper">
                        <div flex>
                            <h1 class="md-headline">{{$ctrl.composition.title}}</h1>
                            <h3 class="md-title"><a flex ui-sref="composer({vanity:$ctrl.composer.$id})">{{$ctrl.composer.fullname}}</a></h3>
                            <p class="md-body-1">{{$ctrl.composition.description}}</p>
                        </div>
                        <div layout="row">
                            <span flex></span>
                            <lb-composition-like composition="$ctrl.composition"></lb-composition-like>
                            <lb-bookmark composition="$ctrl.composition"></lb-bookmark>
                        </div>
                    </div>
                </div>
                <div class="md-padding" layout="row">
                    <lb-badge-key key="$ctrl.key"></lb-badge-key>
                    <lb-badge-rcm rcm="$ctrl.rcm"></lb-badge-rcm>
                    <lb-badge-henle henle="$ctrl.henle"></lb-badge-henle>
                </div>
                <div class="md-padding">
                    <div class="md-padding" layout="row" layout-align="center center" ng-if="$ctrl.form">
                        <strong flex="33" class="md-subhead">Form/Genre</strong>
                        <span flex>{{$ctrl.form.name}}</span>
                    </div>
                    <div class="md-padding" layout="row" layout-align="center center" ng-if="$ctrl.catalogue">
                        <strong flex="33" class="md-subhead">Catalogue Number</strong>
                        <span flex>{{$ctrl.composition.catalogue}}</span>
                    </div>
                    <div class="md-padding" layout="row" layout-align="center center" ng-if="$ctrl.composition.number">
                        <strong flex="33" class="md-subhead">Work Number</strong>
                        <div flex>{{$ctrl.composition.number}}</div>
                    </div>
                    <div class="md-padding" layout="row" layout-align="center center" ng-if="$ctrl.abrsm">
                        <strong flex="33" class="md-subhead">ABRSM</strong>
                        <div flex>{{$ctrl.abrsm.name}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</md-content>