<md-toolbar layout="row" layout-align="center center" class="md-whiteframe-z1">
    <md-button hide-gt-sm class="md-icon-button" aria-label="Menu" ng-click="$ctrl.toggleSidenav('left')">
        <md-icon class="material-icons">menu</md-icon>
    </md-button>
    <a ui-sref="splash" class="brand">LilyBook</a>
    <lb-header-menu></lb-header-menu>
    <md-button hide-sm ui-sref="app.discover">Discover</md-button>
    <md-button hide-sm ui-sref="app.browse">Browse</md-button>
    <md-button hide-sm ui-sref="app.composers">Composers</md-button>
    <span flex></span>
    <md-autocomplete flex="auto" hide-md hide-sm md-autofocus="false" md-items="item in search(searchText)" md-search-text="searchText"
    md-search-text-change="" placeholder="Search">
        <md-item-template>
            <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.display}}</span>
        </md-item-template>
        <md-not-found>No matches found.</md-not-found>
    </md-autocomplete>
    <md-button hide-gt-md class="md-icon-button" aria-label="Search" ng-click="todo()">
        <md-icon class="material-icons">search</md-icon>
    </md-button>
    <md-menu ng-if="$ctrl.user">
        <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)">
            <md-icon class="material-icons">account_circle</md-icon>
        </md-button>
        <md-menu-content width="3">
            <md-menu-item>
                <md-button ui-sref="home">
                    <md-icon class="material-icons">home</md-icon> Home
                </md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button ui-sref="settings">
                    <md-icon class="material-icons">settings</md-icon> Settings
                </md-button>
            </md-menu-item>
            <md-menu-divider></md-menu-divider>
            <md-menu-item>
                <md-button ng-click="$ctrl.logout()">
                    <md-icon class="material-icons">exit_to_app</md-icon>Logout
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
    <md-button ui-sref="login" ng-if="!$ctrl.user">Login</md-button>
</md-toolbar>