<md-sidenav flex layout="column" class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4">
    <md-toolbar layout="row" layout-align="center center" hide-gt-md>
        <a ui-sref="splash" class="brand">LilyBook</a>
    </md-toolbar>
    <md-content flex>
        <md-list>
            <md-list-item ui-sref="admin" ng-click="$ctrl.close()">
                <md-icon class="material-icons">verified_user</md-icon>
                <p>Admin</p>
            </md-list-item>
            <md-list-item ui-sref="admin" ng-click="$ctrl.close()">
                <md-icon class="material-icons">filter_list</md-icon>
                <p>Browse</p>
            </md-list-item>
            <md-list-item ui-sref="composers" ng-click="$ctrl.close()">
                <md-icon class="material-icons">format_list_bulleted</md-icon>
                <p>Composers</p>
            </md-list-item>
            <md-list-item ui-sref="admin" ng-click="$ctrl.close()">
                <md-icon class="material-icons">explore</md-icon>
                <p>Discover</p>
            </md-list-item>
        </md-list>
    </md-content>
    <md-toolbar layout="row" layout-align="center center">
        <md-button ui-sref="signup" ng-click="$ctrl.close()">Signup</md-button>
        <span flex></span>
        <md-button ui-sref="login" ng-click="$ctrl.close()">Login</md-button>
    </md-toolbar>
</md-sidenav>