<md-card *ngFor="let collection of collections">
  <div fxLayout="row" fxLayoutGap="16px" style="padding:0 16px;">
    <md-input-container fxFlex>
      <input mdInput placeholder="Collection Name" [value]="collection.name" #name (blur)="updateCollection(collection, name.value)">
    </md-input-container>
    <button md-icon-button color="warn" (click)="deleteCollection(collection.$key)" mdTooltip="Remove Collection!" mdTooltipPosition="left"> 
      <md-icon>delete_forever</md-icon>
    </button>
  </div>
  <md-list dense>
    <div *ngFor="let composition$ of collection.compositions$; let index = index; let first = first; let last = last;">
      <lb-collection-list-item 
        [composition]="composition$ | async" 
        [position]="index + 1" 
        [first]="first"
        [last]="last"
        (onDelete)="deleteComposition(collection, $event)"
        (onUp)="moveComposition(collection, $event, 'up')"
        (onDown)="moveComposition(collection, $event, 'down')"></lb-collection-list-item>
    </div>
  </md-list>
</md-card>