<div #swiperContainer class="swiper-container" fxFlexFill>
  <div class="swiper-wrapper">
    <div class="swiper-slide" style="overflow-y:scroll;">
      <h1 class="md-headline">{{book.name}}</h1>
      <md-list>
        <md-list-item (click)="slideTo(composition.$key)" *ngFor="let composition of compositions; let i = index">
          <span md-list-avatar>{{i+1}}</span>
          <h3 class="md-title" md-line>{{composition.title}}</h3>
          <p class="md-subhead" md-line>{{ (composition.composer$ | async)?.fullname }}</p>
        </md-list-item>
      </md-list>
    </div>
    <div class="swiper-slide" [attr.data-hash]="page.compositionId" *ngFor="let page of pages">
      <img [attr.data-src]="page.image" class="swiper-lazy" style="display:block;width:100%;">
      <div class="swiper-lazy-preloader"></div>
    </div>
  </div>
  <div #swiperPrev class="swiper-button-prev"></div>
  <div #swiperNext class="swiper-button-next"></div>
</div>