<div flex layout="row" layout-align="center center">
    <form layout="column" name="loginForm" class="md-whiteframe-z1 md-padding" style="width:320px;">
        <md-input-container>
            <label>Email</label>
            <input type="email" name="email" ng-model="$ctrl.email" required>
        </md-input-container>
        <md-input-container>
            <label>Password</label>
            <input type="password" name="password" ng-model="$ctrl.password" required>
        </md-input-container>
        <div layout="row" layout-align="center center">
            <md-button class="md-raised md-primary" ng-click="$ctrl.logIn()">Login</md-button>
        </div>
        <div layout="row" layout-align="center center" layout-padding>
            <a ui-sref="app.splash">Forgot password?</a>
        </div>
    </form>
</div>