<md-content flex class="composer">
    <div class="hero" ng-style="{'background-image':'url('+$ctrl.composer.hero+')'}">
        <md-card>
            <img class="md-card-image" ng-src="{{$ctrl.composer.image}}" alt="{{$ctrl.composer.fullname}}">
        </md-card>
    </div>
    <div class="md-padding">
        <div md-whiteframe="2" style="margin-top:16px;">
            <div layout="row" layout-align="center center" class="md-padding">
                <h3 class="md-title md-padding">New Additions</h3>
                <span flex></span>
                <md-button class="md-primary md-hue-1">View All</md-button>
            </div>
            <md-list class="md-dense" style="padding:0;">
                <md-list-item class="md-2-line" ng-repeat="composition in $ctrl.additions">
                    <md-icon class="material-icons md-accent" ng-click="$ctrl.play(composition)">play_circle_outline</md-icon>
                    <div class="md-list-item-text">
                        <a ui-sref="app.composition({id:composition.$id})">{{composition.title}}</a>
                        <p>{{composition.form}}</p>
                    </div>
                </md-list-item>
            </md-list>
        </div>
        <div md-whiteframe="2" style="margin-top:16px;">
            <div layout="row" layout-align="center center" class="md-padding">
                <h3 class="md-title md-padding">Most Popular</h3>
                <span flex></span>
                <md-button class="md-primary md-hue-1">View All</md-button>
            </div>
            <md-list class="md-dense" style="padding:0;">
                <md-list-item class="md-2-line" ng-repeat="composition in $ctrl.populars">
                    <md-icon class="material-icons md-accent" ng-click="$ctrl.play(composition)">play_circle_outline</md-icon>
                    <div class="md-list-item-text">
                        <a ui-sref="app.composition({id:composition.$id})">{{composition.title}}</a>
                        <p>{{composition.form}}</p>
                    </div>
                </md-list-item>
            </md-list>
        </div>
    </div>
</md-content>