.splash-container {
	background-image: linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ), url('/assets/images/splash.jpg');
	background-size: cover;
	background-position: center center;
	padding: 24px;

	h1 {
		color: #eee;
		text-shadow: 3px 3px 0 #333;
		margin: 24px;
	}

	.intro {
		color: #eee;
		text-shadow: 1px 1px 0 #333;
		margin: 24px;
		font-style: italic;
	}

	.signup {
		position: absolute;
		right: 0;
		bottom: 0;
		margin: 24px;
	}
}

.login-container {
	width: 320px;
	text-align: center;

	> h1 {
		margin: 24px;
	}

	> form {
		padding: 24px;
	}

	> div {
		margin: 24px;
	}
}

.signup-container {
	width: 320px;

	h1 {
		margin: 24px;
	}

	form {
		padding: 24px;
	}

	.login {
		margin: 24px;
	}
}
