<button md-icon-button [md-menu-trigger-for]="more">
  <md-icon *ngIf="!authenticated">more_vert</md-icon>
  <md-icon *ngIf="authenticated">account_circle</md-icon>
</button>
<md-menu x-position="before" #more="mdMenu">
  <button md-menu-item (click)="login()" *ngIf="!authenticated">Log In</button>
  <a md-menu-item routerLink="/signup" *ngIf="!authenticated">Sign Up</a>
  <button md-menu-item routerLink="/home" *ngIf="authenticated">My Library</button>
  <button md-menu-item (click)="logout()" *ngIf="authenticated">Log Out</button>
</md-menu>