<div layout="column" layout-fill class="splash-container">
    <div>
        <h1 class="md-display-2">Welcome to LilyBook</h1>
        <hr>
        <p class="intro md-headline">This website is dedicated to classical piano. It is the place where you can discover beautiful pieces suited to your
            playing level where you can create your own playlist, track your progress and share with your friends.</p>
    </div>
    <md-button class="signup md-fab" aria-label="Sign Up" ui-sref="app.signup">
        <md-tooltip md-direction="top">Sign Up</md-tooltip>
        <md-icon class="material-icons">person_add</md-icon>
    </md-button>
</div>