<div class="push">
  <h1 class="md-display-1">Sign Up</h1>
  <form fxLayout="column" [formGroup]="signupForm" (ngSubmit)="signup()" novalidate>
    <md-input-container>
      <input mdInput type="text" placeholder="Display Name" formControlName="displayName" required>
      <md-error ngxErrors="displayName">
        <div ngxError="required" when="touched">
          Display name is required.
        </div>
      </md-error>
    </md-input-container>
    <md-input-container>
      <input mdInput type="email" placeholder="Email" formControlName="email" required>
      <md-error ngxErrors="email">
        <div ngxError="required" when="touched">
          Email is required.
        </div>
        <div ngxError="email" when="touched">
          Email must be valid.
        </div>
      </md-error>
    </md-input-container>
    <md-input-container>
      <input mdInput type="password" placeholder="Password" formControlName="password" required>
      <md-error ngxErrors="password">
        <div ngxError="required" when="touched">
          Password is required.
        </div>
        <div ngxError="minlength" when="touched">
          Password should be at least 6 characters.
        </div>
      </md-error>
    </md-input-container>
    <div fxLayout="row" fxLayoutAlign="end center" class="push-top">
      <button type="submit" md-raised-button color="primary" [disabled]="!signupForm.valid">Sign Up</button>
    </div>
  </form>
</div>