<div flex layout="column">
    <md-content flex>
        <h1 class="md-headline" style="text-align:center;">{{$ctrl.composition.title}}</h1>
        <div ng-repeat="image in $ctrl.composition.sheet.images">
            <img ng-src="{{image}}" style="width:100%;" />
        </div>
    </md-content>
    <md-toolbar class="md-primary md-hue-3">
        <div class="md-toolbar-tools">
            <md-button flex ng-disabled="!$ctrl.prevComposition" ui-sref="book.composition({compositionId:$ctrl.prevComposition.$id})">
                <md-icon class="material-icons">chevron_left</md-icon>
            </md-button>
            <md-button flex ng-disabled="!$ctrl.nextComposition" ui-sref="book.composition({compositionId:$ctrl.nextComposition.$id})">
                <md-icon class="material-icons">chevron_right</md-icon>
            </md-button>
        </div>
    </md-toolbar>
</div>