<div class="book-container layout-column">
  <md-toolbar>
    <button md-icon-button (click)="slideTo()">
      <md-icon>toc</md-icon>
    </button>
    <h1 class="flex">{{title}}</h1>
    <a md-icon-button [routerLink]="['/composition', composition.$key]" *ngIf="composition">
      <md-icon>music_video</md-icon>
    </a>
  </md-toolbar>
  <div #swiperContainer class="swiper-container flex">
    <div class="swiper-wrapper">
      <div class="swiper-slide cover">
        <h2>{{book.name}}</h2>
        <md-list>
          <md-list-item (click)="slideTo(composition)" *ngFor="let composition of compositions; let i = index">
            <span md-list-avatar>{{i+1}}</span>
            <h3 md-line>{{composition.title}}</h3>
            <lb-composer md-line [composerId]="composition.composerId" fullname="true"></lb-composer>
          </md-list-item>
        </md-list>
      </div>
      <div class="swiper-slide" [attr.data-hash]="page.compositionId" *ngFor="let page of pages">
        <img [attr.data-src]="page.image" class="swiper-lazy">
        <div class="swiper-lazy-preloader"></div>
      </div>
    </div>
    <div #swiperPrev class="swiper-button-prev"></div>
    <div #swiperNext class="swiper-button-next"></div>
  </div>
</div>