<div class="md-padding">
    <h2>My Playlist</h2>
    <p ng-if="!$ctrl.playlists.length">You haven't added any composition to your playlist.</p>
    <md-list-item class="md-2-line" ng-repeat="playlist in $ctrl.playlists">
        <md-icon class="material-icons md-avatar">queue_music</md-icon>
        <div class="md-list-item-text">
            <h3><a ui-sref="composition({id:playlist.compositionId})">{{playlist.compositionId}}</a></h3>
            <p>{{playlist.createdAt | date}}</p>
        </div>
    </md-list-item>
</div>