<div class="md-padding">
    <h2 class="md-headline">My Playlist</h2>
    <p ng-if="!$ctrl.playlists.length">You haven't added any composition to your playlist.</p>
    <!--<md-list-item class="md-2-line" ng-repeat="playlist in $ctrl.playlists">
        <md-icon class="material-icons md-avatar">queue_music</md-icon>
        <div class="md-list-item-text">
            <h3><a ui-sref="composition({id:playlist.compositionId})">{{playlist.composition.title}}</a></h3>
            <p>{{playlist.createdAt | date}}</p>
        </div>
    </md-list-item>-->

    <div layout="row" ng-repeat="playlist in $ctrl.playlists" md-whiteframe="2" style="margin:16px 0;padding:8px;">
        <div style="max-width:150px;margin-right:16px;">
            <img src="/images/thumb-czerny.jpg" style="width:100%;" />
        </div>
        <div flex>
            <h3 class="md-title">{{playlist.composition.title}}</h3>
            <p class="md-subhead">
                By <span style="text-transform:capitalize;">{{playlist.composition.composerId}}</span>
            </p>
            <p>Date added {{playlist.createdAt | date}}</p>
            <md-slider-container>
                <span>{{(playlist.measure||0)*100/(playlist.composition.sheet.measures||100)|number:0}}%</span>
                <md-slider md-discrete flex min="1" max="{{playlist.composition.sheet.measures || 100}}" ng-model="playlist.measure" aria-label="progress">
                </md-slider>
                <md-input-container>
                    <input flex type="number" min="1" max="{{playlist.composition.sheet.measures || 100}}" ng-model="playlist.measure" aria-label="progress" aria-controls="red-slider">
                </md-input-container>
            </md-slider-container>
        </div>
    </div>

</div>