<div ng-switch="$ctrl.type" ng-if="$ctrl.id">
    <div ng-switch-when="composer">
        <md-button class="md-raised" ui-sref="composer({vanity:$ctrl.tag.$id})" ng-if="$ctrl.fullname" style="background-color:#64B5F6;">
            {{$ctrl.tag.fullname}}
        </md-button>
        <md-button class="md-raised" ui-sref="browse({composer:$ctrl.tag.$id})" ng-if="!$ctrl.fullname" style="background-color:#64B5F6;">
            {{$ctrl.tag.name}}
        </md-button>
    </div>
    <div ng-switch-when="rcm">
        <md-button class="md-raised" ui-sref="browse({rcm:$ctrl.tag.$id})" style="background-color:#F06292;">
            {{$ctrl.tag.name}}
        </md-button>
    </div>
    <div ng-switch-when="abrsm">
        <md-button class="md-raised" ui-sref="browse({abrsm:$ctrl.tag.$id})" style="background-color:#F06292;">
            {{$ctrl.tag.name}}
        </md-button>
    </div>
    <div ng-switch-when="henle">
        <md-button class="md-raised" ui-sref="browse({henle:$ctrl.tag.$id})" style="background-color:#F06292;">
            {{$ctrl.tag.name}}
        </md-button>
    </div>
    <div ng-switch-when="key">
        <md-button class="md-raised" ui-sref="browse({key:$ctrl.tag.$id})" style="background-color:#FF8A65;">
            {{$ctrl.tag.name}}
        </md-button>
    </div>
    <div ng-switch-when="form">
        <md-button class="md-raised" ui-sref="browse({form:$ctrl.tag.$id})" style="background-color:#AED581;">
            {{$ctrl.tag.name}}
        </md-button>
    </div>
    <div ng-switch-default>
        <md-button class="md-raised" ui-sref="browse" style="background-color:#90A4AE;" ng-transclude>
        </md-button>
    </div>
</div>