<md-dialog class="login-modal" aria-label="Login Modal">
    <form name="loginForm" ng-submit="$ctrl.login()" novalidate>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Login</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="$ctrl.cancel()">
                    <md-icon class="material-icons">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div layout="column" class="md-dialog-content">
                <md-input-container>
                    <label>Email</label>
                    <input type="email" name="email" ng-model="$ctrl.email" ng-pattern="/^.+@.+\..+$/" required>
                    <div ng-messages="loginForm.email.$error">
                        <p ng-message-exp="['required','pattern']">This field must be an valid email address.</p>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>Password</label>
                    <input type="password" name="password" ng-model="$ctrl.password" required>
                    <div ng-messages="loginForm.password.$error">
                        <p ng-message="required">This field is required.</p>
                    </div>
                </md-input-container>
                <div style="margin-bottom:24px;">
                    <md-button type="submit" class="md-raised md-primary" ng-disabled="loginForm.$invalid">Login</md-button>
                </div>
                <div style="text-align:center;">
                    <md-button ng-click="$ctrl.signup()">Don't have an account?</md-button>
                </div>
                <div style="text-align:center;">
                    <md-button ng-click="$ctrl.cancel()" style="font-size:12px;">Forgot password?</md-button>
                </div>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>