<md-dialog class="signup-modal" aria-label="Signup Modal">
    <form name="signupForm" ng-submit="$ctrl.signup()" novalidate>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Signup</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="$ctrl.cancel()">
                    <md-icon class="material-icons">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div layout="column" class="md-dialog-content">
                <div layout="row">
                    <md-input-container flex>
                        <label>First Name</label>
                        <input type="text" name="firstname" ng-model="$ctrl.firstname" required>
                        <div ng-messages="signupForm.firstname.$error">
                            <p ng-message="required">This field is required.</p>
                        </div>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Last Name</label>
                        <input type="text" name="lastname" ng-model="$ctrl.lastname" required>
                        <div ng-messages="signupForm.lastname.$error">
                            <p ng-message="required">This field is required.</p>
                        </div>
                    </md-input-container>
                </div>
                <md-input-container>
                    <label>Email</label>
                    <input type="email" name="email" ng-model="$ctrl.email" ng-pattern="/^.+@.+\..+$/" required>
                    <div ng-messages="signupForm.email.$error">
                        <p ng-message-exp="['required','pattern']">This field must be an valid email address.</p>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>Password</label>
                    <input type="password" name="password" ng-model="$ctrl.password" required>
                    <div ng-messages="signupForm.password.$error">
                        <p ng-message="required">This field is required.</p>
                    </div>
                </md-input-container>
                <div style="margin-bottom:24px;">
                    <md-button type="submit" class="md-raised md-primary" ng-disabled="signupForm.$invalid">Sign Up</md-button>
                </div>
                <div style="text-align:center;">
                    <md-button ng-click="$ctrl.login($event)">Already have an account?</md-button>
                </div>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>