<div layout="column" layout-fill>
    <md-toolbar class="md-tall md-hue-1" layout="row" layout-align="center center">
        <div class="md-padding" style="width:128px;">
            <img ng-src="{{$ctrl.composer.image}}" alt="{{$ctrl.composer.fullname}}" style="width:100%;border-radius:50%;">
        </div>
        <div flex>
            <h1 class="md-title" style="margin-bottom:12px;">{{$ctrl.composer.fullname}}</h1>
            <p class="md-body-1 line-clamp-3">{{$ctrl.composer.bio}}</p>
        </div>
    </md-toolbar>
    <md-content flex class="md-padding">
        <section md-whiteframe="2">
            <div layout="row" layout-align="center center" class="md-padding">
                <h3 class="md-title md-padding">New Additions</h3>
                <span flex></span>
                <md-button class="md-primary md-hue-1">View All</md-button>
            </div>
            <md-list class="md-dense" style="padding:0;">
                <md-list-item class="md-2-line" ng-repeat="composition in $ctrl.additions">
                    <md-icon class="material-icons md-accent" ng-click="$ctrl.play(composition)">play_circle_outline</md-icon>
                    <div class="md-list-item-text">
                        <a ui-sref="composition({id:composition.$id})">{{composition.title}}</a>
                        <p>{{composition.form}}</p>
                    </div>
                </md-list-item>
            </md-list>
        </section>
        <section md-whiteframe="2" style="margin-top:12px;">
            <div layout="row" layout-align="center center" class="md-padding">
                <h3 class="md-title md-padding">Most Popular</h3>
                <span flex></span>
                <md-button class="md-primary md-hue-1">View All</md-button>
            </div>
            <md-list class="md-dense" style="padding:0;">
                <md-list-item class="md-2-line" ng-repeat="composition in $ctrl.populars">
                    <md-icon class="material-icons md-accent" ng-click="$ctrl.play(composition)">play_circle_outline</md-icon>
                    <div class="md-list-item-text">
                        <a ui-sref="composition({id:composition.$id})">{{composition.title}}</a>
                        <p>{{composition.form}}</p>
                    </div>
                </md-list-item>
            </md-list>
        </section>
    </md-content>
</div>