<div layout="column" layout-fill>
    <md-toolbar class="md-tall" layout="row" layout-align="center center">
        <div style="width:128px;height:128px;padding:16px;">
            <img ng-src="{{$ctrl.composer.image}}" alt="{{$ctrl.composer.fullname}}" style="width:100%;border-radius:50%;">
        </div>
        <div flex style="padding-right:16px;">
            <h1 class="md-headline" style="margin:0;padding-bottom:8px;">{{$ctrl.composer.fullname}}</h1>
            <p class="md-body-1 line-clamp-3">{{$ctrl.composer.bio}}</p>
        </div>
    </md-toolbar>
    <md-content flex class="md-padding">
        <div layout="row" layout-wrap>
            <div flex="100" flex-sm="50" flex-md="33" flex-gt-md="25" ng-repeat="composition in $ctrl.compositions">
                <lb-thumbnail-card composition="composition"></lb-thumbnail-card>
            </div>
        </div>
    </md-content>
</div>