<md-toolbar>Log In</md-toolbar>
<form novalidate>
  <md-input-container>
    <input mdInput type="email" placeholder="Email" [(ngModel)]="model.email" name="email" #email="ngModel" required>
  </md-input-container>
  <md-input-container>
    <input mdInput type="password" placeholder="Password" [(ngModel)]="model.password" name="password" #password="ngModel" required>
  </md-input-container>
  <p *ngIf="error">
    {{error.message}}
  </p>
  <div style="text-align:right;">
    <button md-raised-button color="primary" (click)="login()">Log In</button>
  </div>
</form>