<lb-splash-header></lb-splash-header>
<lb-splash-hero></lb-splash-hero>
<lb-splash-links></lb-splash-links>
<lb-splash-featured></lb-splash-featured>
<!--<div class="collections">
    <lb-splash-collection collectionId="lucas"></lb-splash-collection>
    <lb-splash-collection collectionId="features"></lb-splash-collection>
    <lb-splash-collection collectionId="rcm-piano-1"></lb-splash-collection>
    <lb-splash-collection collectionId="rcm-piano-2"></lb-splash-collection>
    <lb-splash-collection composerId="beethoven"></lb-splash-collection>
    <lb-splash-collection composerId="mozart"></lb-splash-collection>
  </div>-->