<div class="lb-margin">
	<md-card class="layout-row">
		<div>
			<img [src]="composition.thumbnail.url">
		</div>
		<div class="flex title-group">
			<md-card-title>
				{{composition.title}}
			</md-card-title>
			<md-card-content>
				<lb-chip-composer [composerId]="composition.composerId" [fullname]="true"></lb-chip-composer>
				<lb-chip-key [keyId]="composition.key"></lb-chip-key>
				<lb-chip-form [formId]="composition.form"></lb-chip-form>
				<lb-chip-level [rcmId]="composition.rcm"></lb-chip-level>
				<lb-chip-level [abrsmId]="composition.abrsm"></lb-chip-level>
				<lb-chip-level [henleId]="composition.henle"></lb-chip-level>
			</md-card-content>
			<md-card-content>
				<p>{{composition.description}}</p>
			</md-card-content>
			<md-card-actions align="end">
				<lb-composition-sheet [sheet]="composition.sheet"></lb-composition-sheet>
				<button md-raised-button color="primary">
					<md-icon style="margin-right:8px;">playlist_add</md-icon>Add to My Collection
				</button>
			</md-card-actions>
		</div>
	</md-card>
</div>