.hero {
    width: 100%;
    height: 512px;
    background-image: url(assets/piano.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;

    lb-splash-search {
        align-items: center;
        margin: 0 auto;
        width: 100%;
    }
}