.hero {
    width: 100%;
    height: 360px;
    background-image: url(assets/piano.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    position: relative;
    
    lb-splash-search {
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;
        width: 100%;
    }
}