<div flex>
    <form class="md-padding">
        <md-input-container class="md-block">
            <label>Search Composers</label>
            <input ng-model="$ctrl.searchText">
        </md-input-container>
    </form>
    <md-list>
        <md-list-item ng-repeat="composer in $ctrl.composers | filter:{fullname:$ctrl.searchText}" ng-click="$ctrl.gotoComposer(composer)">
            <img alt="{{ composer.name }}" ng-src="{{ composer.image }}" class="md-avatar" />
            <p>{{ composer.fullname }}</p>
            <md-icon class="material-icons" ng-click="$ctrl.openEditor(composer, $event)">edit</md-icon>
        </md-list-item>
    </md-list>
</div>