md-card {
    padding: 0;
    border-radius: 0;
    height: 150px;
    >div {
        padding: 16px;
    }
}

img {
    width: 100px;
    height: 150px;
}

md-card-title {
    font-size: 20px;
    margin-bottom: 8px;
    a {
        color: #03a9f4;
    }
}

lb-composer {
    font-size: 16px;
}