@import '~https://fonts.googleapis.com/icon?family=Roboto';
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~normalize.css/normalize.css';
@import '~angular-material/modules/layouts/angular-material.layouts.css';
@import '~plyr/dist/plyr.css';
@import '~photoswipe/dist/photoswipe.css';
@import '~photoswipe/dist/default-skin/default-skin.css';
@import '~swiper/dist/css/swiper.css';
body {
    font-family: 'Roboto', sans-serif;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.lb-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.lb-content {
    flex: 1;
}

.lb-padding {
    padding: 8px;
}

.lb-margin {
    margin: 8px;
}

.algolia-autocomplete {
    width: 100%;
}

.algolia-autocomplete .aa-input,
.algolia-autocomplete .aa-hint {
    width: 100%;
}

.algolia-autocomplete .aa-hint {
    color: #999;
}

.algolia-autocomplete .aa-dropdown-menu {
    width: 100%;
    background-color: #fff;
}

.algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
    cursor: pointer;
    padding: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
    background-color: #B2D7FF;
}

.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
    white-space: inherit !important;
}