@import url('https://fonts.googleapis.com/icon?family=Roboto');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '~normalize.css/normalize.css';
@import '~plyr/dist/plyr.css';
@import '~photoswipe/dist/photoswipe.css';
@import '~photoswipe/dist/default-skin/default-skin.css';
@import '~swiper/dist/css/swiper.css';

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.lb-padding {
    padding: 8px;
}

.lb-margin {
    margin: 8px;
}

.text-center {
    text-align: center;
}