@import url('https://fonts.googleapis.com/icon?family=Roboto');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '~normalize.css/normalize.css';
@import '~plyr/dist/plyr.css';
@import '~photoswipe/dist/photoswipe.css';
@import '~photoswipe/dist/default-skin/default-skin.css';
@import '~swiper/dist/css/swiper.css';

@import './themes';

// apply custom theme styles
@include mat-core();
@include angular-material-theme($lb-theme);

// import covalent typography
@import '~@covalent/core/common/styles/typography';

// import covalent utilities
@import '~@covalent/core/common/styles/utilities/utilities';

// last minute global styles
html, body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: mat-color($mat-light-blue, A700);
    text-decoration: inherit;
}

.brand {
    color: inherit;
}

.lb-padding {
    padding: 8px;
}

.lb-margin {
    margin: 8px;
}

.app-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    .mat-sidenav-content {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .scroll-content {
        overflow-y: scroll;
    }
}