// https://github.com/angular/material2/blob/master/docs/theming.md

@import '~@angular/material/theming';

$lb-primary: mat-palette($mat-light-blue);
$lb-accent: mat-palette($mat-pink);
$lb-warn: mat-palette($mat-red);
$lb-theme: mat-light-theme($lb-primary, $lb-accent, $lb-warn);