<md-chip-list>
    <a [routerLink]="['/', { outlets: { popup: null, primary: ['collection', rcm.$key] } }]" *ngIf="rcm">
        <md-chip [disabled]="!showRcmLink">{{ rcm.name }}</md-chip>
    </a>
    <a [routerLink]="['/', { outlets: { popup: null, primary: ['collection', abrsm.$key] } }]" *ngIf="abrsm">
        <md-chip [disabled]="!showAbrsmLink">{{ abrsm.name }}</md-chip>
    </a>
    <a [routerLink]="['/', { outlets: { popup: null, primary: ['collection', henle.$key] } }]" *ngIf="henle">
        <md-chip [disabled]="!showHenleLink">{{ henle.name }}</md-chip>
    </a>
</md-chip-list>