<div *ngIf="showRcm">
    <a md-raised-button [routerLink]="['/', { outlets: { popup: null, primary: ['collection', rcmId] } }]" *ngIf="showRcmLink">
        {{ (rcm | async)?.name }}
    </a>
    <button md-raised-button disabled *ngIf="!showRcmLink">
        {{ (rcm | async)?.name }}
    </button>
</div>
<div *ngIf="showaAbrsm">
    <a md-raised-button [routerLink]="['/', { outlets: { popup: null, primary: ['collection', abrsmId] } }]" *ngIf="showAbrsmLink">
        {{ (abrsm | async)?.name }}
    </a>
    <button md-raised-button disabled *ngIf="!showAbrsmLink">
        {{ (abrsm | async)?.name }}
    </button>
</div>
<div *ngIf="showHenle">
    <a md-raised-button [routerLink]="['/', { outlets: { popup: null, primary: ['collection', henleId] } }]" *ngIf="showHenleLink">
        {{ (henle | async)?.name }}
    </a>
    <button md-raised-button disabled *ngIf="!showHenleLink">
        {{ (henle | async)?.name }}
    </button>
</div>