<div *ngIf="rcmId">
    <a md-raised-button [routerLink]="['/', { outlets: { popup: null, primary: ['collection', rcmId] } }]" *ngIf="rcmLink">
        {{ (rcm$ | async)?.name }}
    </a>
    <button md-raised-button disabled *ngIf="!rcmLink">
        {{ (rcm$ | async)?.name }}
    </button>
</div>
<div *ngIf="abrsmId">
    <a md-raised-button [routerLink]="['/', { outlets: { popup: null, primary: ['collection', abrsmId] } }]" *ngIf="abrsmLink">
        {{ (abrsm$ | async)?.name }}
    </a>
    <button md-raised-button disabled *ngIf="!abrsmLink">
        {{ (abrsm$ | async)?.name }}
    </button>
</div>
<div *ngIf="henleId">
    <a md-raised-button [routerLink]="['/', { outlets: { popup: null, primary: ['collection', henleId] } }]" *ngIf="henleLink">
        {{ (henle$ | async)?.name }}
    </a>
    <button md-raised-button disabled *ngIf="!henleLink">
        {{ (henle$ | async)?.name }}
    </button>
</div>