<div class="lb-margin">
  <div class="layout-row" *ngIf="collection">
    <h2 class="flex">{{collection.name}}</h2>
    <a md-button color="primary" [routerLink]="['/collection', collection.id]">View All</a>
  </div>
  <div #swiperContainer class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let composition of collection?.compositions">
        <div class="lb-padding">
          <lb-composition-card [composition]="composition"></lb-composition-card>
        </div>
      </div>
    </div>
    <div #swiperPrev class="swiper-button-prev"></div>
    <div #swiperNext class="swiper-button-next"></div>
    <div #swiperScrollbar class="swiper-scrollbar"></div>
  </div>
</div>