<div *ngIf="collection">
  <div class="heading" fxLayout="row" fxLayoutAlign="center center">
    <h2 fxFlex>
      <a md-button color="primary" [routerLink]="['/collection', collectionId]" *ngIf="collectionId">{{collection.name}}</a>
      <a md-button color="primary" [routerLink]="['/composer', composerId]" *ngIf="composerId">{{collection.name}}</a>
    </h2>
    <a md-icon-button color="primary" [routerLink]="['/book', collection.id]" *ngIf="collection.book">
      <md-icon>library_music</md-icon>
    </a>
  </div>
  <div #swiperContainer class="swiper-container">
    <div class="swiper-wrapper" fxLayout="row" fxLayoutAlign=" end">
      <div class="swiper-slide" *ngFor="let composition of collection?.compositions">
        <div class="lb-padding">
          <lb-composition-thumbnail [composition]="composition" [popup]="true"></lb-composition-thumbnail>
        </div>
      </div>
    </div>
    <div #swiperPrev class="swiper-button-prev"></div>
    <div #swiperNext class="swiper-button-next"></div>
    <div #swiperScrollbar class="swiper-scrollbar"></div>
  </div>
</div>