<div layout="column" layout-fill>
    <lb-profile-header profile="$ctrl.profile"></lb-profile-header>
    <div flex layout="row">
        <lb-profile-sidenav bookmarks="$ctrl.bookmarks" likes="$ctrl.likes" repertoire="$ctrl.repertoire" layout></lb-profile-sidenav>
        <md-content flex>
            <div class="md-padding">
                <h1 class="md-display-1">{{$ctrl.profile.firstname}}'s LilyBook</h1>
                <md-list>
                    <md-subheader>Likes</md-subheader>
                    <md-list-item ng-repeat="composition in $ctrl.likes">
                        <p><a ui-sref="profile-composition({compositionId:composition.$id})">{{composition.title}}</a></p>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-subheader>Bookmarks</md-subheader>
                    <md-list-item ng-repeat="composition in $ctrl.bookmarks">
                        <p><a ui-sref="profile-composition({compositionId:composition.$id})">{{composition.title}}</a></p>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-subheader>Repertoire</md-subheader>
                    <md-list-item ng-repeat="composition in $ctrl.repertoire">
                        <p><a ui-sref="profile-composition({compositionId:composition.$id})">{{composition.title}}</a></p>
                    </md-list-item>
                </md-list>
            </div>
        </md-content>
    </div>
</div>